table,tbody,tr{
	float: left;
	width: 50%;
}
table{
	margin-bottom: 100px;
}
td{
	width: 100em;
	text-align: center;
}
#actu li{
	color: #575757;
	text-align: center;
	list-style: none;
	float: left;
	width: 22%;
}
#attenc table,tbody,tr{
	float: left;
	width: 100%;
}
#attenc, #historique_enc{
	color: #575757;
}
#attenc td{
	width: 1em;
	text-align: center;
}
#attenc li{
	text-align: center;
	list-style: none;
	float: left;
	width: 11%;
}
#valider{
	width: 100%;
}